<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.ej.dao.extend.OrderExtendMapper">
    <select resultMap="BaseResultMap" id="findAllComment">
    select
      c.id as co_id,
      c.content,
      c.comment_time
      from ej_order o left join  ej_comment c
      on c.order_id=o.id and c.id=#{id}
</select>
    <resultMap id="BaseResultMap" type="com.briup.apps.ej.bean.extend.OrderExtend">
        <association property="comment" javaType="com.briup.apps.ej.bean.Comment">
            <id column="co_id" property="id"/>
            <result column="content" property="content"/>
            <result column="commentTime" property="commentTime"/>
            <result column="orderId" property="orderId"/>
        </association>
    </resultMap>
    <select resultMap="BaseResultMap1" id="findAllAddress">
    select
      ad.id as ad_id,
      ad.province,
      ad.city,
      ad.area,
      ad.address,
      ad.telephone
      from ej_order o left join  ej_address ad
      on o.address_id=ad.id and o.id=#{id}
</select>
    <resultMap id="BaseResultMap1" type="com.briup.apps.ej.bean.extend.OrderExtend">
        <association property="address" javaType="com.briup.apps.ej.bean.Address">
            <id column="ad_id" property="id"/>
            <result column="province" property="province"/>
            <result column="city" property="city"/>
            <result column="area" property="area"/>
            <result column="address" property="address"/>
            <result column="telephone" property="telephone"/>
        </association>
    </resultMap>
    <select resultMap="BaseResultMap2" id="findAllCustomer">
    select
      cu.id as cu_id,
      cu.telephone,
      cu.password,
      cu.realname,
      cu.status,
      cu.photo
      from ej_order o left join  ej_customer cu
      on o.customer_id=cu.id and o.id=#{id}
</select>
    <resultMap id="BaseResultMap2" type="com.briup.apps.ej.bean.extend.OrderExtend">
        <association property="customer" javaType="com.briup.apps.ej.bean.Customer">
            <id column="cu_id" property="id"/>
            <result column="telephone" property="telephone"/>
            <result column="password" property="password"/>
            <result column="realname" property="realname"/>
            <result column="status" property="status"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>
    <select resultMap="BaseResultMap3" id="findAllWaiter">
    select
      w.id as w_id,
      w.telephone,
      w.password,
      w.realname,
      w.idcard,
      w.status,
      w.photo
      from ej_order o left join  ej_waiter w
      on o.waiter_id=w.id and o.id=#{id}
</select>
    <resultMap id="BaseResultMap3" type="com.briup.apps.ej.bean.extend.OrderExtend">
        <association property="waiter" javaType="com.briup.apps.ej.bean.Waiter">
            <id column="cu_id" property="id"/>
            <result column="telephone" property="telephone"/>
            <result column="password" property="password"/>
            <result column="realname" property="realname"/>
            <result column="idcard" property="idcard"/>
            <result column="status" property="status"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>
    <select id="query" resultMap="BaseResultMap">
        select
        o.id as o_id,
        o.order_time,
        o.total ,
        a.id as a_id,
        a.city,
        a.address,
        c.id as c_id,
        c.realname as c_realname,
        c.telephone,
        w.id as w_id,
        w.realname as w_realname
        from
        ej_address a,ej_order o,ej_customer c,ej_waiter w
        <where>
            o.customer_id=c.id AND
            o.waiter_id=w.id AND
            o.address_id=a.id
            <if test="customerId != null">
                c.id=#{customerId}
            </if>
            <if test="waiterId != null">
                w.id=#{waiterId}
            </if>
        </where>
    </select>
    <resultMap id="OrderExtendResultMap" type="com.briup.apps.ej.bean.extend.OrderExtend">
        <id column="o_id" jdbcType="BIGINT" property="id"/>
        <result column="order_time" jdbcType="BIGINT" property="orderTime"/>
        <result column="total" jdbcType="DOUBLE" property="total"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="waiter_id" jdbcType="BIGINT" property="waiterId"/>
        <result column="address_id" jdbcType="BIGINT" property="addressId"/>
        <association property="address" column="address" javaType="com.briup.apps.ej.bean.Address">
            <id column="a_id" property="id"></id>
            <result column="province" jdbcType="VARCHAR" property="province"/>
            <result column="city" jdbcType="VARCHAR" property="city"/>
            <result column="area" jdbcType="VARCHAR" property="area"/>
            <result column="address" jdbcType="VARCHAR" property="address"/>
            <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
            <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        </association>
        <association property="waiter" column="waiter" javaType="com.briup.apps.ej.bean.Waiter">
            <id column="w_id" jdbcType="BIGINT" property="id"/>
            <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="w_realname" jdbcType="VARCHAR" property="realname"/>
            <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
            <result column="status" jdbcType="VARCHAR" property="status"/>
            <result column="photo" jdbcType="VARCHAR" property="photo"/>
        </association>
        <association property="customer" column="customer" javaType="com.briup.apps.ej.bean.Customer">
            <id column="c_id" jdbcType="BIGINT" property="id"/>
            <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="c_realname" jdbcType="VARCHAR" property="realname"/>
            <result column="status" jdbcType="VARCHAR" property="status"/>
            <result column="photo" jdbcType="VARCHAR" property="photo"/>

        </association>
    </resultMap>
    <select id="queryBasic" resultMap="orderVMResultMap">
        select
        o.id as o_id,
        o.total as total,
        o.order_time as orderTime,
        c.realname as customerName,
        w.realname as waiterName,
        a.city as address
        from ej_order o,ej_customer c,ej_waiter w,ej_address a
        <where>
            o.customer_id = c.id
            AND o.waiter_id = w.id
            AND o.address_id = a.id
            <if test="customerId!=null">
                AND c.id = #{customerId}
            </if>
            <if test="waiterId != null">
                AND w.id = #{waiterId}
            </if>
        </where>
    </select>
    <resultMap id="orderVMResultMap" type="com.briup.apps.ej.bean.VM.OrderVM">
        <id column="o_id" jdbcType="BIGINT" property="orderId"/>
        <result column="customerName" property="customerName"/>
        <result column="waiterName" property="waiterName"/>
        <result column="address" property="address"/>
        <result column="total" property="total"/>
        <result column="orderTime" property="orderTime"/>
    </resultMap>
    <select id="Add" resultMap="com.briup.apps.ej.dao.AddressMapper.BaseResultMap">
    select  price*#{number}
    from,ej_product
    where ej_product_id=#{productId};
    </select>


</mapper>
