<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.ej.dao.extend.OrderLineExtendMapper">
    <select id="selectById" resultMap="com.briup.apps.ej.dao.AddressMapper.BaseResultMap">
         select
         o.id as o_id,
         l.number,
         o.order_time,
         o.total
        from
       ej_order o,ej_order_line o
                where  l.order_id=o.id and l.id=#{id}
    </select>


</mapper>